table {
    width: 100%;
  }

table.mat-table {
  margin-top: 30px;
}

td.mat-cell {
  border:0;
}

button > .btn {
  margin-left: 5px;
}
img, svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

svg{
  margin-left: 12px;
}
.assignproduct {
  cursor: pointer;
}