table {
    width: 80%;
    position: relative;
    left:10%;
    right:30%;
    margin-top:2%;
  }
  /* this is paragraph alignment */

  .col-sm-8{
    text-align: center;
    padding-top:3%;
    font-size:16pt;
    padding-left:13%;
  }
  /* this is image modification */
 .Logo{
   height:35px;
   width:35px;
 }
 .col-sm-10{
  margin-left:70%;
   
 }
