
<div class="coverall">
<!-- <div class="para">
<p>All product are in the inventory.You can see the detail of each product and update each quantity easily.</p>
</div> -->
<div class="img">
  <div class="subimg">
  <a href="#"  id='feynman'><img src="assets/login/import.png"  class="Logo"></a>
  <div id='feynman_text'> Import Product</div>

  <a href="#" id='feynman'><img src="assets/login/export.png"  class="Logo"></a>
  <div id='feynman_text'>   Export Product </div>

  <!-- <a href="#" id='feynman'><img src="assets/login/AddProduct.png"  class="Logo"></a>
  <div id='feynman_text'>    Add Product </div> -->
</div>
</div>
<div class="covertable">
  <div class="mat-elevation-z8">
 <table mat-table [dataSource]="dataSource">
         <ng-container matColumnDef="No">
            <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index"> {{i+1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> ProductName </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.product_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category_name">
                <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category_name}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Updatequantity</mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                        <mat-button-toggle-group name="fontStyle" appearance="legacy"  aria-label="Font Style" class='btngp'>
                            <input type="number" value="001" min="000" class="quantity-field" (input)="onUpdatequantity($event)">
                            <mat-button-toggle value="save" class="btn-primary"(click)="Onaddvalue(row)">save</mat-button-toggle>
                          </mat-button-toggle-group>    
                    </mat-cell>
                  </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></mat-row>
   </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
    

