<div class="nav-bar">

  <!-- brand name div -->
  <div class="brand">
    <span>Shop Name</span>
  </div>

  <!-- search bar div -->
  <div class="fake-input">
    <input type="search" class="form-control" name="search" placeholder="Search">
    <i class="fas fa-search"></i>
  </div>

  <!-- account profile div -->
  <div class="account-profile">
    <img src="assets/shop1.jpg">
    <span (click)="Shopkeeper()">
      Shopkeeper's Name
    </span>
    <ul class="viewmenu" *ngIf="viewList">
      <li><a>View Profile</a></li>
      <li><a>Help</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>




<!-- For New Sidebar -->
<div class="sidebar">
  <div class="sidenav">
    <div>
      <span>Shop Name</span>
      <div class="fake-input">
        <input type="search" class="form-control" name="search" placeholder="Search">
        <i class="fas fa-search"></i>
      </div>
      <button class="toggle" (click)="toggle()">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
  </div>

  <div class="sidemenu" *ngIf="sidebarVisble">
    <ul class="nav">
      <li routerLink="../dashboard/dashboard">
        <a>
          <img src="assets/dashboard.png">
          <span>Dashboard</span>
        </a>
      </li>
      <li class="product">
        <a>
          <img src="assets/product-ion.png">
          <span>Product</span>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="sub">
          <li><a routerLink="../dashboard/products/allproducts">All Product</a></li>
          <li><a routerLink="../dashboard/products/inventory">Inventory</a></li>
          <li><a routerLink="../dashboard/products/category">Category</a></li>
          <li><a routerLink="../dashboard/products/tag">Tag</a></li>
        </ul>
      </li>
      <li>
        <a>
          <img src="assets/order.png">
          <span>Sell</span>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="sub">
          <li><a routerLink="../dashboard/sell/sell-table">Sell Item</a></li>
          <li><a routerLink="../dashboard/sell/sell-history">Sell History</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="../dashboard/setting">
          <img src="assets/setting.png">
          <span>Setting</span>
        </a>
      </li>
    </ul>
  </div>
</div>