<div class="nav-bar">

  <!-- brand name div -->
  <div class="brand">
    <span>Shop Name</span>
  </div>

  <!-- search bar div -->
  <div class="nav-bar-search">
      <!-- <mat-form-field class="col-md-5">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="search here" class="search-input">
      </mat-form-field> -->
      <input type="search" class="form-control" name="search" placeholder="Search">
  </div>

  <!-- account profile div -->
  <div class="account-profile">
    <img src="assets/shop1.jpg">
    <span>Shopkeeper's Name</span>
  </div>
</div>