<div class="flex-container">
  <div mat-dialog-title>
    <h5>Tag product what you want</h5>
  </div>
   <div mat-dialog-content>
  
    <div>
      <span>Tag &nbsp;&nbsp;:</span>
      <mat-form-field >
        <input matInput placeholder="create new tag" [(ngModel)]="local_data.tag_name">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div><button mat-button (click)="onNoClick()">Cancel</button></div>
    <div><button mat-button (click)="doAdd()">Save</button></div>
  </div>
</div>