<mat-card>
  <mat-card-header>
    <mat-card-title>Forget Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Enter the email address you used to register and we'll send you confirmation code to reset your password.
    </p>
  </mat-card-content>
  <form class="EmailForm" [formGroup]="EmailForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="textbox">
      <input matInput placeholde="Enter your email" type="email" name="email" formControlName="email">
      <mat-error *ngIf="EmailForm.hasError('required','email')">Enter a valid email</mat-error>
    </mat-form-field>
    <button mat-button type="submit" class="btn" [disabled]="!EmailForm.valid">Next</button>
  </form>
</mat-card>

