
<div class="card">
    <div class="card-header text-center"><h3><strong>Forget Password</strong></h3>
    </div>
    <div class="card-body">
        <form [formGroup]="EmailForm" (ngSubmit)="onSubmit()">
           <p class="content"> Enter the email address you used to register and we'll send you confirmation code to reset your password.</p>
          <mat-form-field class="textbox">
          <input matInput placeholder="Enter your email" formControlName="email" type="email">
          <mat-error *ngIf="EmailForm.hasError('required','email')">Please enter a valid email</mat-error>
     </mat-form-field>
  <button mat-button class="btn" type="submit" >Cancel</button>
  <button mat-button class="btn1" type="submit" [disabled]="!EmailForm.valid">Next
  </button>
  </form>
  </div>
  </div>