
<div>
  <div class="choice">
      <div class="check">
        <div class="subcheck">
          <mat-form-field class="ltr">
            <mat-label>Category</mat-label>
            <mat-select [value]="selected" aria-placeholder="Category" (OnChange)="log($event)">
              <mat-option>
                <mat-checkbox>Cigerattes</mat-checkbox>
              </mat-option>
              <mat-option >
                  <mat-checkbox >Coffee</mat-checkbox>
                </mat-option>
                <mat-option >
                    <mat-checkbox>Juices</mat-checkbox>
                  </mat-option>
                <mat-option>
                  <mat-checkbox Value="Sunflower Seeds" [ngModel]="true">Sunflower Seeds</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Beer</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Bread</mat-checkbox>
                </mat-option>
                <mat-option>
                  <mat-checkbox>Cake</mat-checkbox>
                </mat-option>
            </mat-select>
          </mat-form-field>
    <mat-form-field class="ltr">
      <mat-label>Tags</mat-label>
      <mat-select [value]="selected" (OnChange)="log($event)">
        <mat-option >
          <mat-checkbox>3 buy 1 get</mat-checkbox>
        </mat-option>
        <mat-option >
            <mat-checkbox>for 18+</mat-checkbox>
          </mat-option>
          <mat-option >
            <mat-checkbox Value="for all" [ngModel]="true">for all</mat-checkbox>
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="ltr" *ngIf="dataSource">
        <mat-label>Quantity</mat-label>
        <mat-select [value]="selected" (onChange)="log($event)">
          <mat-option >
            <mat-checkbox>less than 10</mat-checkbox>
          </mat-option>
          <mat-option >
              <mat-checkbox>less than 20</mat-checkbox>
            </mat-option>
            <mat-option>
              <mat-checkbox>less than 30</mat-checkbox>
            </mat-option>
            <mat-option>
              <mat-checkbox Value="Cigerattes" [ngModel]="true">more than 50</mat-checkbox>
            </mat-option>
        </mat-select>
        </mat-form-field>
      </div>
      </div>
        <div class="img">
          <div class="subimg">
          <a href="#"  id='feynman'><img src="assets/login/import.png"  class="Logo"  ></a>
          <div id='feynman_text'> Import Product </div>
        
          <a href="#" id='feynman'><img src="assets/login/export.png"  class="Logo"></a>
          <div id='feynman_text'> Export Product </div>
        
          <a href="#" id='feynman'><img src="assets/login/AddProduct.png"  class="Logo"></a>
          <div id='feynman_text'>  Add Product </div>
        </div>
      </div>
      </div>
     
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="product_id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.product_id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="product_name" >
          <th mat-header-cell *matHeaderCellDef>Product Name </th>
          <td mat-cell *matCellDef="let element" class="imagehover">{{element.product_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="category_id">
        <mat-card><mat-card-title>
           <th mat-header-cell *matHeaderCellDef> Category </th></mat-card-title></mat-card>
          <td mat-cell *matCellDef="let element"> {{element.category_id}} </td>
        </ng-container>
       
       <ng-container matColumnDef="tag_id">
       <mat-card><mat-card-title>
        <th mat-header-cell *matHeaderCellDef> Tags </th></mat-card-title></mat-card>
       <td mat-cell *matCellDef="let element"> {{element.tag_id}} </td>
     </ng-container>

   <ng-container matColumnDef="price_sell">
   <mat-card><mat-card-title>
    <th mat-header-cell *matHeaderCellDef> Price </th></mat-card-title></mat-card>
   <td mat-cell *matCellDef="let element"> {{element.price_sell}} </td>
 </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
   
      
  
  