::ng-deep.mat-form-field-underline{
  display: none;
}
//   /* this is logo image modification */
.Logo{
   height:30px;
   width:30px;
   padding: 3px;
}

  // this is table styling
  .mat-header-cell{
    font-size:16px;
    text-transform:none;
   
  }
  .mat-cell{
    font-size:16px;
    text-transform:initial;

  }
 table{
   width:100%;
   border: 0;

  }
 .table{
   margin-left: 10%;
  
 }
 .mat-column-position {
  width:12%;
 }
 .mat-column-name {
  width:20%;
 }
 .mat-column-category {
  width:22%;
 }
 .mat-column-discount {
  width:15%;
 }
 .mat-column-tags {
  width:15%;
 }
 .mat-column-quantity {
  width:22%;
 }
 .mat-column-price {
  width:22%;
 }

 .covertable{
  padding-left:10%;
 }
 
 ::ng-deep tr{
   border:none;
   vertical-align: none;
 }
 

 
#feynman:hover + #feynman_text{
  opacity:1;
}
#feynman_text:hover{
  opacity:1;
}
 
#feynman_text{
  position: absolute;
  top:0%;
  text-align:center;
  opacity:0;
  left: 85%;
  
}
#feynman_text1{
  position: absolute;
  top:70%;
  text-align:center;
  opacity:0;
  left: 5%;
  
}
.ltr{
 padding-left: 0px;
 text-align: center; 
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-left: 50px;
}
.choice {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 60px;
}
.check {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.subcheck {
  width: 100%;
  display: flex;
}
.img {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 10px;
  
}
.subimg {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 75%;

}

