
::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  .ltr{
    padding-left: 0px;
    text-align: center;
    
  }
  
  
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  table{
    width:100%;
    float: right;
  }
  th{
    font-size: 14px;
    
  }
  
  mat-paginator{
    
    float: right;
  }
  button{
    float: right;
    top: 0px;
    border-spacing: 10px;
  }
  mat-form-field{
    padding-top: 0px;
    }
 

  @media only screen and (max-width: 560px){
    img{
      width: 15%;
      height: auto;
    }
    
  }
    
  