
//  image hover
#feynman:hover + #feynman_text{
  opacity:1;
}
#feynman_text:hover{
  opacity:1;
}
 
#feynman_text{
  position: absolute;
  top:0%;
  text-align:center;
  font-size: 12px;
  opacity:0;
  left: 85%;
  
}
#feynman_text1{
  position: absolute;
  top:70%;
  text-align:center;
  opacity:0;
  //left: 5%;
}

.mat-header-cell{
  font-size:16px;
  text-transform:none;
}
.mat-cell{
  font-size:16px;
  text-transform:initial;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-left: 0px;
}
.choice {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 60px;
}
.check {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
td span.only-show-on-hover {
  visibility: hidden;
}
td:hover span.only-show-on-hover  {
  visibility: visible;

}
table {
  width: 100%;
}

::ng-deep .mat-select-arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-right: 50px;
}

.ltr1, .ltr2,.ltr3 {
  padding-left: 10px;
  display: flex;
  width: 100%;
}
mat-form-field{
  padding-top: 0px;
  }
::ng-deep .mat-select-value {
  width: 80%;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
 display: none;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-left: 0px;

}

.choice {
  display: flex;
  width: 100%!important;
  flex-direction: row;
  height: 60px;
  text-transform: initial;
}
.check {
  display: flex;
  width: 50%;
}

.btn {
  display: flex;
  width: 20%;
  margin-top: 10px;
  margin-left: 37%;
  }
.btn1, .btn2,.btn3{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
a > img {
  width: 10%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline;
  
}


@media screen and (min-width: 1370px) {
  .btn {
    margin-left: 45%;
  }
  .btn1, .btn2,.btn3{
    width: 30%;
    padding-left: 40px;
  }
  
}
@media screen and (max-width: 991px) {
  .btn {
      margin-left: 32%;
  }
  .mat-header-cell {
    font-size: 14px; 
  }
  .mat-cell {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .btn {
    margin-left: 25%;
}
.arrow1{
  margin: 0 20px;
}
.arrow2 {
  margin: 0 50px;
}
.arrow3 {
margin: 0 50px;
}

a > img {
    margin-left: 10px;
}
.btn1 {
    justify-content: normal;
}
#feynman_text{
  position: absolute;
  top:0%;
  text-align:center;
  font-size: 12px;
  opacity:0;
  left: 75%;
  
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-left: -30px;

}
}
// @media screen and (max-width:750px){
//   .btn{
//     margin-left: 28%;
//   }
// }