<div class="text">
  <div class="subtext">
    <span class="text1">MINGALAR PAR</span><br>
    <span class="textlist">Sell or Buy with MYANMAR ONLINE POS</span>
    <span class="textlist">We will help you build and grow your Business.</span>
    <span class="textlist">Build your Business</span><br>
    <span class="textlist">You've got the will. You've got the way.</span>
    <button class="business"><a routerLink="../login">Start Your Business</a></button>
  </div>
</div>

<!--For Slideshow -->
<div class="container slide">
    <slideshow [height]="'400px'"
             [minHeight]="'200px'"
             [autoPlay]="true"
             [showArrows]="false"
             [imageUrls]="imageUrl"
             [lazyLoad]="imageSources?.length > 1"
             [autoPlayWaitForLazyLoad]="true"
             [fullscreen]="false">
  </slideshow>
</div>

<div class="text">
    <div class="subtext">
      <span class="text1">With you from first scale from full scale</span><br>
      <span class="textlist">One platform with the ecommerce and point of sale features</span>
      <span class="textlist">you need to start, run and grow your business</span>
    </div>
</div>

<!-- For Body Images -->
<div class="image">
    <div class="imagelist">
      <div class="subimage">
        <img class="subsubimage" src="assets/shop1.jpg">
      </div>
      <div class="subimage">
        <img class="subsubimage" src="assets/postext1.png">
      </div>
    </div>
</div>

<div class="image">
    <div class="imagelist">
      <div class="subimage">
        <img class="subsubimage" src="assets/shop4.jpg">
      </div>
      <div class="subimage">
          <img class="subsubimage" src="assets/postext2.png">
      </div>
    </div>
</div>

<div class="image">
    <div class="imagelist">
        <div class="subimage">
          <img class="subsubimage" src="assets/shop5.jpg">
        </div>
        <div class="subimage">
            <img class="subsubimage" src="assets/postext3.png">
        </div>
    </div>
</div>