<div class="text">
  <div class="subtext">
    <span class="text1">MINGALAR PAR</span><br>
    <span class="textlist">Sell or Buy with MYANMAR ONLINE POS</span>
    <span class="textlist">We will help you build and grow your Business.</span>
    <span class="textlist">Build your Business</span><br>
    <span class="textlist">You've got the will. You've got the way.</span>
    <button class="business"><a [routerLink]="['./signup']">Start Your Business</a></button>
  </div>
</div>

<!--For Slideshow -->
<div class="container slide">
    <slideshow [height]="'400px'"
             [minHeight]="'200px'"
             [autoPlay]="true"
             [showArrows]="false"
             [imageUrls]="imageUrl"
             [lazyLoad]="imageSources?.length > 1"
             [autoPlayWaitForLazyLoad]="true"
             [fullscreen]="false">
  </slideshow>
</div>

<div class="text">
    <div class="subtext">
      <span class="text1">With you from first scale from full scale</span><br>
      <span class="textlist">One platform with the ecommerce and point of sale features</span>
      <span class="textlist">you need to start, run and grow your business</span>
    </div>
</div>

<!-- For Body Images -->
<div class="image">
    <div class="imagelist">
      <div class="subimage">
        <img class="subsubimage" src="assets/shop1.jpg">
      </div>
      <div class="textimage">
        <div class="subtxtimg">
            <span class="txtimg1">Start --</span>
            <span class="txtimg2">your business journey</span><br>
            <span class="txtimg3">Find a business name, buy a</span>
            <span class="txtimg3">domain, and create a brand with</span>
            <span class="txtimg3">our free tools</span><br>
            <span class="txtimg4">Explore tools to start your</span>
            <span class="txtimg4">business -></span>
        </div>
      </div>
    </div>
</div>

<div class="image">
    <div class="imagelist">
      <div class="subimage">
        <img class="subsubimage" src="assets/shop4.jpg">
      </div>
      <div class="textimage">
          <div class="subtxtimg">
              <span class="txtimg1">Sell --</span>
              <span class="txtimg2">everywhere</span><br>
              <span class="txtimg3">Use one platform to sell products to</span>
              <span class="txtimg3">anyone, anywhere--online with your</span>
              <span class="txtimg3">ecommerce store, online</span>
              <span class="txtimg3">marketplaces, and socila media, and</span>
              <span class="txtimg3">ecommerce store, online</span>
              <span class="txtimg3">in-person with point of sale.</span><br>
              <span class="txtimg4">Explore ways to sell</span>
          </div>
        </div>
    </div>
</div>

<div class="image">
    <div class="imagelist">
        <div class="subimage">
          <img class="subsubimage" src="assets/shop5.jpg">
        </div>
        <div class="textimage">
            <div class="subtxtimg">
                <span class="txtimg1">Manage --</span>
                <span class="txtimg2">everything</span><br>
                <span class="txtimg3">Use a single dashboard to manage</span>
                <span class="txtimg3">orders, shipping, and payments</span>
                <span class="txtimg3">anywhere you go. Gain the insights and</span>
                <span class="txtimg3">knowledge you need to grow.</span><br>
                <span class="txtimg4">Explore how to manage your business</span>
            </div>
          </div>
    </div>
</div>

<!-- For Home Page Footer -->
<footer class="footer-left">
    <div class="footercontent">
        <ul class="subcontent">
          <li>
            <span>ABOUT</span>
            <ul class="subsubcontent">
                <li>Contact</li>
                <li>Address</li>
                <li>Email</li>
            </ul>
          </li>

          <li>
            <span>FEATURE</span>
            <ul class="subsubcontent">
                <li routerLink="./login">Access Order</li>
                <li routerLink="./login">Dashboard</li>
                <li routerLink="./login">Product</li>
                <li routerLink="./login">Sell</li>
            </ul>
          </li>

          <li>
            <span>HOME</span>
            <ul class="subsubcontent">
                <li>SignUp</li>
                <li>Login</li>
                <li>Help</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footerdetail">
        <div class="subdetail">
          <div class="subdetail1">
            <span>CONTACT with US</span>
          </div>
      
          <div class="subdetail2">
            <ul class="subsubdetail">
                <li class="list-inline-item">
                  <img src="assets/facebook.png" alt="Facebook" class="src">
                </li>
                <li class="list-inline-item">
                  <img src="assets/gmail.png" alt="Gmail" class="src">
                </li>
                <li class="list-inline-item">
                  <img src="assets/viber.png" alt="Viber" class="src">
                </li>
                <li class="list-inline-item">
                  <img src="assets/twitter.png" alt="Twitter" class="src">
                </li>
            </ul>
          </div>

          <div class="subdetail3">
          </div>
        </div>
        
        <div class="lastfooter">
              <div class="sublast2">
                <ul class="list">
                  <li>
                    <a class="sublist1">Terms of service</a>
                  </li>
                  <li>
                    <a class="sublist2">Privacy Policy</a>
                  </li>
                </ul>
              </div>
        </div>
      </div>
  </footer>