  <div class="choice">
        <div class="check">
            <div class="subcheck1">
              <!-- For Categoty -->
              <mat-form-field class="ltr1">
                <mat-label class="arrow1 select">Category</mat-label>
                <mat-select>
                  <mat-option *ngFor="let category of categories">
                    <mat-checkbox (change)="getSelectedCategory(category)" 
                      value="{{category.category_id}}"> 
                      {{category.category_name}}
                    </mat-checkbox>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="subcheck2">
              <!-- For Tag -->
              <mat-form-field class="ltr2">
                <mat-label class="arrow2 select">Tag</mat-label>
                <mat-select>
                  <mat-option *ngFor="let tag of tags">
                    <mat-checkbox (change)="getSelectedTag(tag)"
                      value="{{tag.tag_id}}">
                      {{tag.tag_name}}
                    </mat-checkbox>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
      
          <div class="btn">
            <div class="btn1">
                <p>{{selectedRow.length}}Selected</p>
            </div>
            <div class="btn2">
                <a (click)="sellItem()"><img src="assets/cash.svg"></a>
            </div>
          </div>
    </div>
    

<!-- For table -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" #table>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let product; let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let product"> {{product.product_name}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let product"> {{product.category_name}} </td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container matColumnDef="tag_name">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let product"> {{product.tag_name}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let product" [ngClass]="{quan: product.quantity<=10}" [ngStyle]="{color: product.quantity<=20? 'red': 'black'}"> {{product.quantity}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price_sell">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product"> {{product.price_sell}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)" [ngClass]="{highlighted: row.highlighted}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

