<div class="flex-container">
  <div mat-dialog-title>
    <span class="header">Create Category</span>
  </div>
  <div mat-dialog-content>
    <div>
      <span class="category-name">Category Name:</span>
      <mat-form-field >
        <input matInput placeholder="Category Name" [(ngModel)]="local_data.category_name">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="cancel-btn"><button  class="mat-raised-button" (click)="closeDialog()">Cancel</button></div>
    <div><button  class="mat-raised-button" (click)="doAction()">Save</button></div>
  </div>
</div>