<mat-card class="txt-card">
    <div class="all">
      <div class="header">
        <span>Detail of Product</span>
      </div>
  
      <div class="bodypart">
        <div class="part1">
              <span>Product Name &nbsp;: {{product ? product.product_name:" "}}</span>
              <span>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{product ? product.category_name:" "}}</span>
              <span>Tag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{product ? product.tag_name: " "}}</span>
              <span>Note&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span>
        </div>
        <div class="img">
          <div class="subimg">
            <img [src]="imgSrc">
          </div>
        </div>
      </div>
    
        <div class="part2">
          <div class="subpart2">
            <div class="subtxt">
                <span>Changes of Quantity and Price</span>
            </div>
          </div>
          
          <div class="mat-elevation-z8 tablepart">
              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let product"> {{product.date}} </td>
                </ng-container>
    
                <ng-container matColumnDef="product_name">
                  <th mat-header-cell *matHeaderCellDef>Product Name</th>
                  <td mat-cell *matCellDef="let product"> {{product.product_name}} </td>
                </ng-container>
    
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
                </ng-container>
    
                <ng-container matColumnDef="price_cost">
                  <th mat-header-cell *matHeaderCellDef>Price Per Cost</th>
                  <td mat-cell *matCellDef="let product"> {{product.cost_price}} </td>
                </ng-container>
    
                <ng-container matColumnDef="price_sell">
                  <th mat-header-cell *matHeaderCellDef>Price Per Sell</th>
                  <td mat-cell *matCellDef="let product"> {{product.sell_price}} </td>
                </ng-container>
    
                <ng-container matColumnDef="total_cost">
                  <th mat-header-cell *matHeaderCellDef>Total Cost</th>
                  <td mat-cell *matCellDef="let product"> {{product.total_cost}} </td>
                </ng-container>
    
                <ng-container matColumnDef="total_sell">
                  <th mat-header-cell *matHeaderCellDef>Total Sell Price</th>
                  <td mat-cell *matCellDef="let product"> {{product.total_sell}} </td>
                </ng-container>

                <ng-container matColumnDef="profit">
                    <th mat-header-cell *matHeaderCellDef>Profit</th>
                    <td mat-cell *matCellDef="let product"> {{product.profit}} </td>
                  </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
      </div>
  </div>
</mat-card>