.card{
  position: relative;
  margin-top: 20%;
  left: 50%;
  right: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%);
}
    
    .card-body{
      position: relative;
      left: 1%;
      right: 1%;
      height: 80%;
     
    }
    .textbox{
      width: 80%;
      left: 10%;
      
    }
    h3{
      font-size: 18px;
    }
    .btn{
      color: #fff;
      background-color: green;
      margin-top: 3%;
      width: 80%;
      left: 10%;
      margin-bottom: 8%;
    }
    a{
      padding: 8%;
      bottom: 3%;
     }
     @media screen and (max-width:600px){
      .card{
        position: absolute;
        top: 50%;
        left: 55%;
        width: 300px;
        height: 340px;
        transform: translate(-50%,-50%);
      }
      h3{
        font-size: 18px;
      }
      .card-body{
        position: relative;
        left: 1%;
        right: 1%;
        height: 40%;
       
      }
      a{
        padding: 14%;
        bottom: 3%;
       }
     }
  