<img src="assets/login/background.jpg">
<div class="login-box">
  <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <h1 class="mt-5">Login</h1>
    <div class="form-group">
      <input type="email" placeholder="Email" class="form-control" required 
      name="email" formControlName="email" id="email" [ngModel]="email">
      <div *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
        The input is not valid E-mail!
      </div>
    </div>
   <div class="from-group">
      <input type="password" placeholder="Password" class="form-control" name="password" [ngModel]="password">
   </div>
    
  <input type="submit" name="submit" value="Login" [routerLink]=" '/dashboard'">
  <a href="layout" class="text-primary">Forgot Password?</a>
  <a href="signup" class="text-primary">Sign Up</a>
  </form>
</div>