   
      <div  class="chart">
    <div class="chart1">
      <div class="card">
          <div class="card-header text-center"><h5><strong>Calendar</strong></h5>
          </div>
          <div class="card-body">
       <full-calendar [plugins]="calendarPlugins" class="chartheight"></full-calendar> 
      </div>
      </div>
    </div>
     <div class="chart1">
       <div class="card">
          <div class="card-header text-center"><h5><strong>Bar Chart</strong></h5>
          </div>
          <div class="card-body">
          <canvas id="barChart" class="chartheight"></canvas> 
        </div>
       </div>
       </div>
      </div>
         <div  class="chart">
          <div class="chart1">
            <div class="card">
                <div class="card-header text-center"><h5><strong>Line Chart</strong></h5>
                </div>
                <div class="card-body">
                <canvas id="lineChart" class="chartheight"></canvas>
              </div>
            </div>
          </div>
           <div class="chart1">
             <div class="card">
                <div class="card-header text-center"><h5><strong>Radar Chart</strong></h5>
                </div>
                <div class="card-body">
                <canvas id="radarChart" class="chartheight"></canvas>
              </div>
             </div>
             </div>
            </div>

<div class="chart">
  <div class="chart1">
    <div class="card">
      <div class="card-header text-center"><h5> <strong> Pie Chart</strong></h5>
      </div>
      <div class="card-body">
      <canvas id="pieChart" class="chartheight"></canvas>
    </div>
    </div>
  </div>
  <div class="chart1">
    <div class="card">
      <div class="card-header text-center"><h5><strong>Pie Chart</strong></h5>
      </div>
      <div class="card-body">
        <canvas id="pieChart1" class="chartheight"></canvas>
      </div>
    </div>
  </div>
</div>
            

 
<!-- <div class="table">
  <div class="row">
    <div class="col">Calendar</div>
    <div class="col">Bar Chart</div>
  </div>
  <div class="row">
    <div class="col"><full-calendar [plugins]="calendarPlugins"></full-calendar></div>
    <div class="col"> <canvas id="barChart"></canvas></div>
  </div>
</div>
<div class="table">
    <div class="row">
      <div class="col">Line Chart</div>
      <div class="col">Radar Chart</div>
    </div>
    <div class="row">
      <div class="col"><canvas id="lineChart"></canvas></div>
      <div class="col"> <canvas id="radarChart"></canvas> </div>
    </div>
  </div>
  <div class="table">
      <div class="row">
        <div class="col">Pie Chart</div>
        <div class="col">Pie Chart</div>
      </div>
      <div class="row">
        <div class="col"><canvas id="pieChart"></canvas></div>
        <div class="col"> <canvas id="pieChart1"></canvas> </div>
      </div>
    </div> -->