   <div class="cover">
    <div  class="chart">
      <div class="chart1">
      <mat-card class="calendar">
              <mat-calendar 
              [selected]="selectedDate" 
              (selectedChange)="onSelect($event)"
              ></mat-calendar>
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart2">
               
                <canvas baseChart
                [datasets]="compareData" 
                [labels]="labels"
                [options]="chartOption" 
                [legend]="compareChartLegend" 
                [chartType]="compareBarChartType" 
                [colors]="compareCharColor" ></canvas> 
         </mat-card>
       </div> 
  </div> 


  <div  class="chart">
      <div class="chart1">
      <mat-card class="chart4">
        <canvas baseChart
        [datasets]="compareData" 
        [labels]="labels"
        [options]="chartOption" 
        [legend]="compareChartLegend" 
        [chartType]="compareLineChartType" 
        [colors]="compareCharColor" ></canvas>         
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart4">
          <canvas baseChart
          [datasets]="compareData" 
          [labels]="labels"
          [options]="chartOption" 
          [legend]="compareChartLegend" 
          [chartType]="compareRadarChartType" 
          [colors]="compareCharColor" ></canvas> 
         </mat-card>
       </div> 
  </div> 

  <div  class="chart">
      <div class="chart1">
        <mat-card-header>
          <mat-card-title>Cost</mat-card-title>
        </mat-card-header>
      <mat-card class="chart4">
        <canvas baseChart
        [data]="costData" 
        [labels]="labels"
        [options]="chartOption" 
        [legend]="compareChartLegend" 
        [chartType]="pieChartType" 
        [colors]="eachDataColor" ></canvas>
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart4">
         <mat-card-header>
            <mat-card-title>Sell</mat-card-title>
          </mat-card-header>
          <canvas baseChart
          [data]="sellData" 
          [labels]="labels"
          [options]="chartOption" 
          [legend]="compareChartLegend" 
          [chartType]="pieChartType" 
          [colors]="eachDataColor" ></canvas>
         </mat-card>
       </div> 
  </div>
  <div class="chart5">
    <mat-card class="chart4">
      <mat-card class="chart4">
       <mat-card-header>
          <mat-card-title>Profit</mat-card-title>
        </mat-card-header>
        <canvas baseChart
        [data]="profitData" 
        [labels]="labels"
        [options]="chartOption" 
        [legend]="compareChartLegend" 
        [chartType]="pieChartType" 
        [colors]="eachDataColor" ></canvas>
       </mat-card>
     </mat-card>
  </div> 
</div>
       
         

      

        
     
             

