#barChart{
    position: relative;
    display: flex;
    width:50%;
}
#pieChart{
    position: relative;
    display: flex;
    width:50%; 
}
#pieChart1{
    position: relative;
    display: flex;
    width:50%;    
}
#radarChar{
    position: relative;
    display: flex;   
}
#lineChart{
    position: relative;
    display: flex;
    width:50%;   
}

