   <div class="cover">
    <div  class="chart">
      <div class="chart1">
      <mat-card class="chart2">
              <!-- <mat-card-header>
                <mat-card-title>Calendar</mat-card-title>
              </mat-card-header> -->
              <full-calendar [plugins]="calendarPlugins" class="chartheight"></full-calendar>
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart2">
                <!-- <mat-card-header class="barchart">
                  <mat-card-title>Bar Chart</mat-card-title>
                </mat-card-header> -->
                <canvas id="barChart" ></canvas> 
         </mat-card>
       </div> 
  </div> 


  <div  class="chart">
      <div class="chart1">
      <mat-card class="chart4">
              <!-- <mat-card-header>
                <mat-card-title>Line Chart</mat-card-title>
              </mat-card-header> -->
              <canvas id="lineChart" class="chartheight"></canvas>
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart4">
                <!-- <mat-card-header>
                  <mat-card-title>Radar Chart</mat-card-title>
                </mat-card-header> -->
                <canvas id="radarChart" class="chartheight"></canvas>  
         </mat-card>
       </div> 
  </div> 

  <div  class="chart">
      <div class="chart1">
      <mat-card class="chart4">
              <!-- <mat-card-header>
                <mat-card-title>Pie Chart</mat-card-title>
              </mat-card-header> -->
              <canvas id="pieChart" class="chartheight"></canvas>
       </mat-card>
     </div> 

     <div class="chart1">
        <mat-card class="chart4">
                <!-- <mat-card-header>
                  <mat-card-title>Pie Chart</mat-card-title>
                </mat-card-header> -->
                <canvas id="pieChart1" class="chartheight"></canvas>
         </mat-card>
       </div> 
  </div> 
</div>
       
         

      

        
     
             

