
 <img src="assets/login/background.jpg">
<div class="login-box">
  <form>
      <h1 class="mt-5">Sign Up</h1>

    <div class="form-group">
    <input type="email" placeholder="Email" class="form-control" required>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" required>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Confirm Password" class="form-control" required>
  </div>
    <input type="submit" name="submit" value="Next">
  </form>
</div>

