.card{
  position: relative;
  margin-top: 300px;
  left: 50%;
  right: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%,-50%);
}
    
    .card-body{
      position: relative;
      left: 1%;
      right: 1%;
      height: 80%;
     
    }
    .textbox{
      width: 80%;
      left: 10%;
      
    }
    .btn{
      color: #fff;
      background-color: green;
      margin-top: 3%;
      width: 80%;
      left: 10%;
      margin-bottom: 3%;
    }
    
  