<div class="card">
  <div class="card-header text-center">
    <div class="head"><strong>Add Your Information</strong></div>
  </div>

  <!-- class="myForm" -->
  <div class="card-body">
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="name1">
        <input matInput placeholder="First Name" type="text" formControlName="firstname" id="firstname">
        <mat-error *ngIf="!detailForm.get('firstname').valid && detailForm.get('firstname').touched" class="help-block">
          Enter a valid first name</mat-error>
      </mat-form-field>

      <mat-form-field class="name1">
        <input matInput placeholder="Last Name" type="text" formControlName="lastname" id="lastname">
        <mat-error *ngIf="!detailForm.get('lastname').valid && detailForm.get('lastname').touched" class="help-block">
          Enter a valid last name</mat-error>
      </mat-form-field>

      <mat-form-field class="textbox">
        <!-- ^0[1-9]-[0-9]+$ -->
        <input matInput placeholder="PhoneNumber" formControlName="Phone" id="Phone">
        <mat-error *ngIf="!detailForm.get('Phone').valid && detailForm.get('Phone').touched" class="help-block">Please
          check your phone number</mat-error>
      </mat-form-field>

      <!-- </mat-form-field> formControlName="city" -->
      <mat-form-field class="textbox">
        <mat-label>Select city</mat-label>
        <mat-select formControlName="city" id="city_name">
          <mat-option *ngFor="let city of items" [value]="city.city_id">
            {{city.city_name}}
          </mat-option>
        </mat-select>
        <mat-hint i18n>Please select city</mat-hint>
        <mat-error *ngIf="!detailForm.get('city').valid && detailForm.get('city').touched" class="help-block"> City required.</mat-error>
      </mat-form-field>
      
      
      <mat-form-field class="textbox">
        <textarea matInput placeholder="Address" formControlName="address" id="address" maxlength="100"></textarea>
        <mat-error *ngIf="!detailForm.get('address').valid && detailForm.get('address').touched" class="help-block">
          Please enter a valid address</mat-error>
      </mat-form-field>

      <div class="radiobtn">
        <mat-radio-group aria-label="Select an option" formControlName="sell" (ngSubmit)="onSubmit()">
          <mat-radio-button value="1" name="sell" class="textbox2" (click)="onSelect($event)">Sell</mat-radio-button>
          <mat-radio-button value="2" name="sell" class="radiobuy" (click)="onCheck($event)">Buy</mat-radio-button>
          <mat-error *ngIf="isSubmitted && !detailForm.get('sell').valid" class="help-block">Please check one</mat-error>      
        </mat-radio-group>
      </div>
      
      <div *ngIf="this.showStore===true">
        <mat-form-field class="textbox">
          <input matInput placeholder="Store Name" formControlName="storename" id="storename" required>
          <mat-error *ngIf="!detailForm.get('storename').valid && detailForm.get('storename').touched" class="help-block">Please enter your store name</mat-error> 
        </mat-form-field>
      </div>
      <button mat-button class="btn" type="submit" (click)="loadData()" [disabled]="!detailForm.valid">Signup 
      <i class="fa fa-spinner fa-spin" *ngIf="showSpinner"></i>
       </button>
    </form>
  </div>
<div class="card-footer text-center" >Click <em>Sign up </em>
    button if you agree Myanmar Online PO's
    <a href="#">terms of service </a>and<a href="#">privacy policy</a>
  </div>
</div>