<div class="card">
  <div class="card-header text-center"><h3><strong>Add your address</strong></h3></div>
  <div class="card-body">
      <form class="myForm" [formGroup]="detailForm">
      <mat-form-field class="name1">
        <input matInput placeholder="First Name" type="text" required formControlName="fname"
        [errorStateMatcher]="matcher" name="fname">
        <mat-error *ngIf="fname.invalid">{{getErrorMessage()}}</mat-error>
          </mat-error>
   </mat-form-field>
   <mat-form-field class="name1">
    <input matInput placeholder="Last Name" type="text" required formControlName="lname"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="lname.invalid">{{getErrorMessage()}}</mat-error>
          </mat-error>
   </mat-form-field>
      <mat-form-field class="textbox">
          <!-- ^0[1-9]-[0-9]+$ -->
        <input matInput placeholder="PhoneNumber" formControlName="PhoneNumber"
        [errorStateMatcher]="matcher" required pattern="^0[1-9]-[0-9]+$" maxlength="11">
        <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
   </mat-form-field>
      <mat-form-field class="textbox">
        <input matInput placeholder="City" type="text" required>
   </mat-form-field>
    <mat-form-field class="textbox">
  <textarea matInput placeholder="Address" required>
</textarea>
</mat-form-field>
   <div class="radiobtn">
      <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="sell" name="sell" class="textbox2"  (click)="onSelect($event)">Sell</mat-radio-button>
          <mat-radio-button value="buy" name="sell" class="radiobuy" (click)="onCheck($event)">Buy</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="this.showStore===true">
          <mat-form-field class="textbox">
            <input matInput placeholder="Store Name" required>
          </mat-form-field>
        </div>
          <button mat-button class="btn">Sign up</button>
       </form>
     </div> 
  <div class="card-footer text-center">Click <em>Sign up </em>
    button if you agree Myanmar Online PO's
     <a href="#">terms of service </a>and<a href="#">privacy policy</a>
    </div>
</div>
