
.card{
    position: absolute;
    left: 50%;
    top:65%;
    width: 500px;
    height:640px;
    transform: translate(-50%,-50%);
  }
      
      .card-body{
        position: relative;
      left: 1%;
      right: 1%;
      height: 80%;
      
     }
      .textbox{
        width: 80%;
        left: 10%;
        // padding-top:5px;
        // height: 3px;
        
      }
       .name1{
        width: 35%;
        margin-left: 10%;

        }
      .btn{
        color: #fff;
        background-color: green;
        margin-top:3%;
        width: 80%;
        left: 10%;
        margin-bottom: 3%;
      }
      .radiobtn{
        padding-left:10%;
        }
        .radiobuy{
            padding-left:15%;
        }
     
    @media screen and (max-width:600px){
      .card{
        position: absolute;
        left: 50%;
        top: 65%;
        width: 350px;
        height:640px;
        transform: translate(-50%,-50%);
      }
      .head{
        font-size: 18px;
      }
          .card-header{
            height:45px;
            
          }
          .card-body{
            position: relative;
          left: 1%;
          right: 1%;
          height: 50%;
         }
        

    }