
.card{
    position: relative;
    margin-top: 380px;
    left: 50%;
    right: 50%;
    width: 500px;
    height:610px;
    transform: translate(-50%,-50%);
  }
      
      .card-body{
        position: relative;
        // left: 4%;
        // right: 4%;
        // height: 80%;
       
      }
      .textbox{
        width: 80%;
        left: 10%;
        
      }
       .name{
        width: 35%;
        margin-left: 10%;

        }
      .btn{
        color: #fff;
        background-color: darkolivegreen;
        margin-top:3%;
        width: 80%;
        left: 10%;
        //  margin-bottom: 30px;
    
      }
      .radiobtn{
        padding-left:10%;
        }
        .radiobuy{
            padding-left:15%;
        }
     
    