
.all, .small {
    display: flex;
    width: 100%;
    flex-direction: column;
}
h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: initial;
}
.header, .header2 {
    display: flex;
    width: 100%;
}
.body {
    display: flex;
    width: 100%;
    padding-top: 30px;
}
.pbody {
    display: flex;
    width: 60%;
    flex-direction: row;
}
.pimg {
    display: flex;
    width: 40%;
    margin-top: 20px;
    flex-direction: column;
}
.ppbody {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-left: 70px;
}
.pimg > img {
    width: 90%;
    height: 300px;
    border-radius: 10px;
}
.mat-form-field {
    text-transform: initial;
    width:70%;
}
.btn {
    display: flex;
    width: 100%;
}
.subbtn, .subbtn2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.cancel, .cancelbtn {
    margin-right: 20px;
    width: 80px;
}
.save, .savebtn {
    width: 80px;
    padding-left: 20px;
}
// For small size
.body2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.pimg2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.pimg2 > img {
        width: 280px;
        height: 200px;
        border-radius: 10px;
}
.pbody2 {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.ppbody2 {
    display: flex;
    width: 80%;
    flex-direction: column;
}

label > input {
    display: none;
}
.image-upload-container {
    cursor: pointer;
}
.subimg > img {
    width: 70%;
    height: 200px;
    border-radius: 10px;
    margin-left: 15%;
}

.subbtn1 {
    width: 100px;
    background: #337ae9;
    color: white;
    margin-left: 35%;
}

@media screen and (max-width: 992px) {
    .all, .small {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    h3 {
        display: flex;
        width: 100%;
        justify-content: center;
        text-transform: initial;
    }
    .pimg {
        display: flex;
        width: 40%;
        margin-top: 20px;
        flex-direction: column;
    }
    .subimg > img {
        display: flex;
        flex-direction: row;
        width: 190px;
        height: 200px;
        border-radius: 10px;
        // margin-left: 7%;
    }
    .subbtn1 {
        width: 100px;
        background: #337ae9;
        color: white;
        margin-left: 35%;
    }
    
    .body {
        display: flex;
        width: 100%;
        padding-top: 30px;
    }
    .pbody {
        display: flex;
        width: 60%;
        flex-direction: row;
    }
    .mat-form-field {
        text-transform: initial;
        width:70%;
    }

}
@media screen and (max-width: 600px) {
    .all, .small {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    h3 {
        display: flex;
        width: 100%;
        justify-content: center;
        text-transform: initial;
    }
    .pimg {
        display: flex;
        width: 100%;
        margin-top: 20px;
        flex-direction:column;
    }
    .subimg > img {
        width: 70%;
        height: 200px;
        border-radius: 10px;
        margin-left: 15%;
    }
    .subbtn1 {
        display: flex;
        flex-direction: row;
        display:none;
       
    }
    .body {
        display: flex;
        width: 100%;
        padding-top: 30px;
        flex-direction: column;
    }
    .pbody {
        flex-direction: row;
        display: flex;
        width: 100%;
        flex-direction: row;
        
    }
    .mat-form-field {
        text-transform: initial;
        width:90%;
    }

}


