<mat-card class="main">
  <form [formGroup]="editForm">
      <div class="all">
          <!-- For header -->
          <div class="header">
              <h3>Edit Product</h3>
             
          </div>
        
          <div class="body form-group">
            <div class="pbody" >
                <div class="ppbody" >
                   
                  <!-- for productname -->
                    <div class="form-group row">
                      <div class="col-sm-12" >
                          <div class="mat-form-field">
                            
                              <mat-label  class="col-sm-3 col-form-label">Product Name:</mat-label>
                          </div>                              
                          <mat-form-field >
                            <input matInput type="text" id="productName" formControlName="productname" 
                            #productname [(ngModel)]="allproduct.productname">                     
                            
                          </mat-form-field>
                       </div>
                      </div>
                      <!-- for category -->
                      <div class="form-group row">
                          <div class="col-sm-12">
                              <div class="mat-form-field">
                                  <mat-label  class="col-sm-4 col-form-label">Category:&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                  </mat-label>
                              </div>                              
                              <mat-form-field>
                                <textarea matInput id="category" formControlName="category"
                                #category [(ngModel)]="allproduct.category"
                                 ></textarea>
                              </mat-form-field>
                           </div>
                          </div>
                          <!-- for tag -->
                          <div class="form-group row">
                              <div class="col-sm-12">
                                  <div class="mat-form-field">
                                      <mat-label  class="col-sm-4 col-form-label">Tags:&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </mat-label>
                                  </div>                              
                                  <mat-form-field>
                                    <input matInput type="text" id="tag" formControlName="tag"
                                    #tag [(ngModel)]="allproduct.tag" >
                                  </mat-form-field>
                               </div>
                              </div>
                        <!-- for quantity -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="mat-form-field">
                                    <mat-label  class="col-sm-4 col-form-label">Quantity:&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </mat-label>
                                </div>                              
                                <mat-form-field>
                                  <input matInput type="text" id="quantity" value="{{Savebuttonwork}}" class="qty" 
                                 formControlName="quantity" (change)="onFileSelect($event)" 
                                 #quantity [(ngModel)]="allproduct.quantity">
                                  <mat-button-toggle-group name="fontStyle" appearance="legacy" 
                                  class="toggle-group" aria-label="Font Style">                  
                                   <mat-button-toggle value="add" >Add</mat-button-toggle>
                                   <mat-button-toggle value="set" >Set</mat-button-toggle>
                                   <input type="number" value="0000" min="0000" class="quantity-field" 
                                   (input)="onUpdatequantity($event)">
                                   <mat-button-toggle value="save" class="btn-primary" (click)="Onaddvalue($event)">Save</mat-button-toggle>
                              </mat-button-toggle-group>
                                </mat-form-field>
                             </div>
                            </div>
                      <!-- for price per cost -->
                      <div class="form-group row">
                          <div class="col-sm-12">
                              <div class="mat-form-field">
                                  <mat-label  class="col-sm-4 col-form-label">Price per cost:
                                  </mat-label>
                              </div>                              
                              <mat-form-field>
                                <input matInput type="text" id="priceCost"formControlName="price_cost" >
                              </mat-form-field>
                           </div>
                          </div>
                      <!-- for sale price -->
                      <div class="form-group row">
                          <div class="col-sm-12">
                              <div class="mat-form-field">
                                  <mat-label  class="col-sm-4 col-form-label">Sale Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </mat-label>
                              </div>                              
                              <mat-form-field>
                                <input matInput type="text" id="salePrice" formControlName="price_sell" >
                              </mat-form-field>
                           </div>
                          </div>
                              <!-- for note -->
                              <div class="form-group row">
                                  <div class="col-sm-12">
                                      <div class="mat-form-field">
                                          <mat-label  class="col-sm-4 col-form-label">Note:&nbsp;&nbsp;&nbsp;&nbsp;
                                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          </mat-label>
                                      </div>                              
                                      <mat-form-field>
                                        <textarea matInput id="note" formControlName="note" (change)="onFileSelect($event)"
                                        ></textarea>
                                      </mat-form-field>
                                   </div>
                                  </div>
                      
                                </div>
                              </div>
                             
                              <div class="pimg form-group">
                                  <img *ngFor="let url of urls" [src]="url" class="rounded mb-3">
                              </div>
                              <input type="file" multiple (change)="detectFiles($event)" class="row">

                            </div>
                           
                               
                             
                             
                       <!-- For Button -->
                       <div class="btn form-group">
                        <div class="subbtn">
                          <button type="reset" class="cancel" (click)="closeDialog()">Cancel</button>
                          <button class="save" (click)="doAction()">Save</button>
                        </div>
                      </div>
                    </div>
              </form>   
                              
                            
                          
                           

                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                        <div class="small">
                            <!-- For header -->
                            <div class="header2">
                                <h3>Edit Product</h3>
                            </div>
                    
                            <div class="body2 form-group">
                                <div class="pimg2">
                                    <img src="assets/laptop.jpg">
                                </div>
                              <div class="pbody2">
                                  <div class="ppbody2">
                                    <!-- for productname -->
                                      <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="mat-form-field">
                                                <mat-label  class="col-sm-3 col-form-label">Product Name:</mat-label>
                                            </div>                              
                                            <mat-form-field>
                                              <input matInput type="text" id="productName" formControlName="productName">
                                            </mat-form-field>
                                         </div>
                                        </div>
                                        <!-- for category -->
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="mat-form-field">
                                                    <mat-label  class="col-sm-4 col-form-label">Category:&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                    </mat-label>
                                                </div>                              
                                                <mat-form-field>
                                                  <textarea matInput id="category" formControlName="category"></textarea>
                                                </mat-form-field>
                                             </div>
                                            </div>
                                            <!-- for tag -->
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div class="mat-form-field">
                                                        <mat-label  class="col-sm-4 col-form-label">Tags:&nbsp;&nbsp;&nbsp;&nbsp;
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </mat-label>
                                                    </div>                              
                                                    <mat-form-field>
                                                      <input matInput type="text" id="tag" formControlName="tag">
                                                    </mat-form-field>
                                                 </div>
                                                </div>
                                          <!-- for quantity -->
                                          <div class="form-group row">
                                              <div class="col-sm-12">
                                                  <div class="mat-form-field">
                                                      <mat-label  class="col-sm-4 col-form-label">Quantity:&nbsp;&nbsp;&nbsp;&nbsp;
                                                          &nbsp;&nbsp;&nbsp;&nbsp;
                                                      </mat-label>
                                                  </div>                              
                                                  <mat-form-field>
                                                    <input matInput type="text" id="quantity" value="{{Updatequantity}}"
                                                     class="qty" formControlName="quantity">
                                                    <mat-button-toggle-group name="fontStyle" appearance="legacy" 
                                                    class="toggle-group" aria-label="Font Style">                  
                                                     <mat-button-toggle value="add" >Add</mat-button-toggle>
                                                     <mat-button-toggle value="set" >Set</mat-button-toggle>
                                                     <input type="number" value="0000" min="0000" class="quantity-field" 
                                                     (input)="onUpdatequantity($event)">
                                                     <mat-button-toggle value="save" class="btn-primary">Save</mat-button-toggle>
                                                </mat-button-toggle-group>
                                                  </mat-form-field>
                                               </div>
                                              </div>
                                        <!-- for price per cost -->
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="mat-form-field">
                                                    <mat-label  class="col-sm-4 col-form-label">Price per cost:
                                                    </mat-label>
                                                </div>                              
                                                <mat-form-field>
                                                  <input matInput type="text" id="cost" formControlName="cost">
                                                </mat-form-field>
                                             </div>
                                            </div>
                                        <!-- for sale price -->
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="mat-form-field">
                                                    <mat-label  class="col-sm-4 col-form-label">Sale Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </mat-label>
                                                </div>                              
                                                <mat-form-field>
                                                  <input matInput type="text" id="sale" formControlName="sale">
                                                </mat-form-field>
                                             </div>
                                            </div>
                                                <!-- for note -->
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <div class="mat-form-field">
                                                            <mat-label  class="col-sm-4 col-form-label">Note:&nbsp;&nbsp;&nbsp;&nbsp;
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </mat-label>
                                                        </div>                              
                                                        <mat-form-field>
                                                          <textarea matInput id="note" formControlName="note"></textarea>
                                                        </mat-form-field>
                                                     </div>
                                                    </div>
                                        
                                                  </div>
                                                </div>
                                                
                                              </div>
                                            
                                              <!-- For Button -->
                                              <div class="btn form-group">
                                                <div class="subbtn2">
                                                  <button type="reset" class="cancel">Cancel</button>
                                                  <button class="save">Save</button>
                                                </div>
                                              </div>
                                            </div>
                                      </form>
      
       
          
      
       
                      </mat-card>
                          
                                
                           
                    
               