<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>profile</title>
</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-dark navigation">
        <h4 class="profile col-md-2">Shop Name</h4>
        <input type="search" name="search" class="col-md-6">
        <img src="assets/shop1.jpg" class="col-md-1 pl-5 shopkeeper">
        <h4 class="col-md-3">Shopkeeper's Name</h4>
    </nav>

    <div class="mysidenav">
        <span class="open col-md-5 float-right pr-4 toggle">&#9776;</span>
        <div class="sidenav pt-4 ">
          <ul class="list-unstyled list-inline">
            <li>
              <a href="#">Dashboard</a>
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item"></li>
              </ul>
            </li>
            <li>
                <a href="#">Product</a>
                <ul class="list-unstyled list-inline list-group">
                  <li class="list-inline-item list-group-item"><a href="#">All Product</a></li>
                  <li class="list-inline-item list-group-item"><a href="#">Inventory</a></li>
                  <li class="list-inline-item list-group-item"><a href="#">Category</a></li>
                  <li class="list-inline-item list-group-item"><a href="#">Discount</a></li>
                  <li class="list-inline-item list-group-item"><a href="#">Tag</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Sell</a>
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a href="#"></a></li>
                </ul>
              </li>
              <li>
                <a href="#">Order</a>
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a href="#"></a></li>
                </ul>
              </li>
              <li>
                <a href="#">Setting</a>
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a href="#"></a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </body>
  </html>
      