<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>profile</title>
</head>
<body>
     

    <mat-sidenav-container class="mysidenav">
        <mat-sidenav #sidenav>
          <p><button mat-button (click)="sidenav.toggle()" class="closeside">X</button></p>
          <div class=".sidenav">
                    <ul class="list-unstyled list-inline sidelist">
                      <li>
                        <a href="#">Dashboard</a>
                        <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"></li>
                        </ul>
                      </li>
                      <li>
                          <a href="#">Product</a>
                          <ul class="list-unstyled list-inline list-group">
                            <li class="list-inline-item list-group-item"><a href="#">All Product</a></li>
                            <li class="list-inline-item list-group-item"><a href="#">Inventory</a></li>
                            <li class="list-inline-item list-group-item"><a href="#">Category</a></li>
                            <li class="list-inline-item list-group-item"><a href="#">Discount</a></li>
                            <li class="list-inline-item list-group-item"><a href="#">Tag</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Sell</a>
                          <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#"></a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Order</a>
                          <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#"></a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Setting</a>
                          <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#"></a></li>
                          </ul>
                        </li>
                    </ul>
          </div>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="row navi">
           <button mat-button class="openside col-md-1" (click)="sidenav.toggle()">&#9776;</button>
              <h4 class="profile col-md-2 mt-3">Shop Name</h4>
              <mat-form-field class="col-md-5">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="search" placeholder="search here" class="search-input">
              </mat-form-field>
              <img src="assets/shop1.jpg" class="col-md-1 pl-5 mt-3 shopkeeper">
              <h4 class="col-md-3 mt-3">Shopkeeper's Name</h4>
            </div>
          </mat-sidenav-content>
      </mat-sidenav-container>

    </body>
  </html>
      