* {
  margin: 0;
  padding: 0;
}

.submenu li a {
  padding-left: 40px;
  height: 25px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  background-color: #E5E4E2;
  margin-top: 20px;
  height: 29px;
}

.sidebar a:hover {
  color: blue;
}
.sidebar a:focus {
  outline: 0;
}
.submenu {
   visibility: visible;
   position: relative;
 }
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1001;
  top: 60px;
  left:0px;
  background-color: #E5E4E2;
  padding-top: 0px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .list-group, .nested-menu {
      a.list-group-item {
          border: 0;
          border-radius: 0;
          background-color: #E5E4E2;
          color: black;
          text-decoration: none;
      }
      a:hover {
          color: blue;
          cursor: pointer;
      }
      
      a.router-link-active {
          color: blue;
          
      }
  }
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.list-group-item {
  border: 0;
}
.sidebar li {
  cursor: pointer;
  font-size: 16px;
  list-style : none;
  outline: 0;
}

.main {
  padding:20px;
  position: relative;
  width:80%;
  top:60px;
  left:200px;
  z-index:1000;
}

img {
  width: 23px;
  height: 23px;
  margin-right: 12px;
  margin-left: 8px;
}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .main {
    left: 0px;
    width: 100%;
  }
}
