* {
  margin: 0;
  padding: 0;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1001;
  top: 60px;
  left:0px;
  background-color: #E5E4E2;
  padding-top: 0px;
}
.sidebar li {
  font-size: 16px;
  list-style: none;
  cursor: pointer;
}
.sidebar li:focus {
  outline: 0;
  background-color: #f2f3f1;
}
.mainmenu a {
  text-decoration: none;
  color: #000;
}

.mainmenu > li {
  padding: 10px;
}
.mainmenu a:focus {
  color: blue;
}
.submenu {
  visibility: visible;
  margin-left: 35px;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.sidebar .sub-arrow:after {
  content: '\203A';
  float: right;
  margin-right: 25px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.sidebar li:focus .sub-arrow:after {
  content: '\2039';
}
.main {
  padding:20px;
  position: relative;
  width:80%;
  top:60px;
  left:200px;
  z-index:1000;
}

img {
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .main {
    left: 0px;
    width: 100%;
  }
}
