
<app-nav-bar></app-nav-bar>

<div class="list-group sidebar">
  <a routerLink="../dashboard/dashboard" tabindex="0" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <img src="assets/dashboard.png">
    <span>Dashboard</span>
  </a>
  <div class="nested-menu">
      <a class="list-group-item" tabindex="0" (click)="viewMenu()">
        <img src="assets/product-ion.png">
        <span>Product</span>
      </a>
      <div class="nested" *ngIf="viewmenu">
          <ul class="submenu">
              <li>
                  <a routerLink="../dashboard/products/allproducts" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <span>All Product</span>
                  </a>
              </li>
              <li>
                  <a routerLink="../dashboard/products/inventory" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <span>Inventory</span>
                  </a>
              </li>
              <li>
                  <a routerLink="../dashboard/products/category" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <span>Category</span>
                  </a>
              </li>
              <li>
                <a routerLink="../dashboard/products/tag" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <span>Tag</span>
                </a>
            </li>
          </ul>
        </div>
    </div>

    <div class="nested-menu">
        <a class="list-group-item" tabindex="0" (click)="showMenu()">
          <img src="assets/sell.png">
          <span>Sell</span>
        </a>
        <div class="nested" *ngIf="showmenu">
              <ul class="submenu">
                  <li>
                      <a routerLink="../dashboard/sell/sell-table" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <span>Sell Product</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="../dashboard/sell/sell-history" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <span>Sell History</span>
                      </a>
                  </li>
              </ul>
        </div>
    </div>

    <a routerLink="../dashboard/setting" tabindex="0" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <img src="assets/setting.png">
      <span>Setting</span>
    </a>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div> 
