<mat-card>
<div class="all">
  <!-- For header -->
  <div class="header">
      <h3>Add a new Product</h3>
  </div>

  <div class="body">
    <div class="pbody">
        <div class="ppbody">
            <mat-form-field>
                <input matInput placeholder="Product Name:">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Category"></textarea>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Tag">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Quantity">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Price per cost">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Sale price">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Note"></textarea>
              </mat-form-field>
        </div>
    </div>
    <div class="pimg">
          <img src="assets/laptop.jpg">
    </div>
  </div>

  <!-- For Button -->
  <div class="btn">
    <div class="subbtn">
      <button>Cancel</button>
      <button>Save</button>
    </div>
  </div>
</div>
</mat-card>
