<mat-form-field>
  <mat-card class="card-container-right">
    <mat-label class="">Category</mat-label>
   <mat-select>
    <mat-option value="option1">
      <mat-radio-button>All Categories</mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>for 18+</mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>For child</mat-radio-button>
    </mat-option>
  </mat-select>
  </mat-card>
</mat-form-field>
<mat-form-field>
  <mat-card class="card-container-right">
  <mat-label>Discount</mat-label>
  <mat-select >
    <mat-option value="option1">
      <mat-radio-button>5%</mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>10%</mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>15%</mat-radio-button>
    </mat-option>
   </mat-select>
  </mat-card>
</mat-form-field>
<mat-form-field>
  <mat-card class="card-container-right">
  <mat-label>Tags</mat-label>
  <mat-select >
    <mat-option value="option1">
      <mat-radio-button>All </mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>for 18+</mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>For child</mat-radio-button>
    </mat-option>
   </mat-select>
  </mat-card>
</mat-form-field>
<mat-form-field>
  <mat-card>
  <mat-label>Quantity</mat-label>
  <mat-select >
    <mat-option value="option1">
      <mat-radio-button>All </mat-radio-button>
    </mat-option>
     <mat-option value="option1">
      <mat-radio-button>low</mat-radio-button>
    </mat-option>
   </mat-select>
  </mat-card>
</mat-form-field>
<button mat-button>
  <img src = "assets/image/plusicon.png" width="40px" height="40px">
        Add Product
      </button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
</div>
