



::ng-deep .mat-form-field-underline {
    display: none;
  }
  table{
    width:80%;
    float: right;
  }
  mat-paginator{
    
    float: right;
  }
  button{
    float: right;
    top: 70px;
  }
  select{
    margin-bottom: 4px;
  }
  
    
  