<div class="box">
  <div class="header">
    <div class="headertxt">
      Assign Product to Cigaretts
    </div>
    <div class="search">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="search" class="search-input">
    </div>
  </div>
  
  <div class="body">
        <div class="checkbody" *ngFor="let data of assignproducts;">
            <mat-checkbox (change)="showOptions($event)">{{data.assignproduct}}</mat-checkbox>
        </div>
        <div mat-dialog-actions>
            <div class="selectedcategory">selected {{selectedArray.length}}</div>
            <div class="cancelbtn"><button mat-button (click)="onNoClick()">Cancel</button></div>
            <div class="savebtn"><button mat-button matDialogClose="save" (click)="onSave()">Save</button></div>
        </div>
  </div>
</div>
 