.box {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header {
    display: flex;
    width: 500px;
    flex-direction: column;
    position: fixed;
    top: 130px;
    background-color: #E5E4E2;
    z-index: 1001;
}
.headertxt {
    display: flex;
    width:100%;
    justify-content: center;
}
::ng-deep .mat-dialog-container {
    padding: 0px;
}
.search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 24px;
}
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    margin-bottom: 35px;
}
.body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 24px;
}
.selectedcategory {
    padding-bottom: 5px;
}
.cancelbtn {
    padding-left: 60px;
}