td.mat-cell {
    border:0;
}
.box {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: fixed;
    height: 60px;
}
.headertxt {
    display: flex;
    width:100%;
}
.search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top:10px;
}
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    margin-bottom: 35px;
}
.body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 80px;
}
