  <div class="head">
      Assign Product to Cigaretts
  </div>
  <div class="search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" [(ngModel)]="filteredValue" placeholder="search" class="search-input">
  </div>
      
<mat-dialog-content>
    
        <mat-checkbox  *ngFor="let assignproduct of filteredproducts" (change)="showOptions($event)" 
            value="{{assignproduct.product_id}}">
              {{assignproduct.product_name}}
        </mat-checkbox>
    
    <!-- <mat-checkbox (change)="showOptions($event)" *ngFor="let data of filteredproducts">{{data.assignproduct}}</mat-checkbox> -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="selectedcategory">selected {{selectedArray.length}}</div>
  <div class="cancelbtn"><button class="reset mat-raised-button" (click)="onNoClick()">Cancel</button></div>
  <div class="savebtn"><button class="mat-raised-button" matDialogClose="save" (click)="onSave()">Save</button></div>
</mat-dialog-actions>