<div class="main">
  <div class="gp">
    <div class="text">
      The history of sell product from <span></span>to <span></span>(1 week)
    </div>
    <div class="img">
      <img src="assets/export.png">
    </div>
  </div>  
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" #table>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let product; let i = index;"> {{i+1}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let product"> {{product.product_name}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
    </ng-container>

    <!-- Tag Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Price Per Cost </th>
      <td mat-cell *matCellDef="let product"> {{product.cost_price}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="sale">
      <th mat-header-cell *matHeaderCellDef> Price Per Sale </th>
      <td mat-cell *matCellDef="let product"> {{product.sell_price}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total Cost </th>
      <td mat-cell *matCellDef="let product"> {{ product.total_cost }} </td>
    </ng-container>

    <ng-container matColumnDef="sellprice">
      <th mat-header-cell *matHeaderCellDef> Total Sell Price </th>
      <td mat-cell *matCellDef="let product"> {{ product.total_sell }} </td>
    </ng-container>

    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef> Profit </th>
      <td mat-cell *matCellDef="let product"> {{ product.profit }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>