<p>
  Account Type:
  <mat-button-toggle-group appearance="acc" class="acc">
    <mat-button-toggle value="bold">Basic</mat-button-toggle>
    <mat-button-toggle value="italic">Premium</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<p>
  Allow Product Order:
  <mat-button-toggle-group appearance="order" class="order">
    <mat-button-toggle value="bold">Allow</mat-button-toggle>
    <mat-button-toggle value="italic">Deny</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<p>
  View Report:
  <mat-button-toggle-group appearance="report" class="report">
    <mat-button-toggle value="bold">Month</mat-button-toggle>
    <mat-button-toggle value="italic">Week</mat-button-toggle>
    <mat-button-toggle value="italic">Year</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<p>
  Language:
  <mat-button-toggle-group appearance="lang" class="lang">
    <mat-button-toggle value="bold">Myanmar</mat-button-toggle>
    <mat-button-toggle value="italic">English</mat-button-toggle>
  </mat-button-toggle-group>
</p>