mat-button-toggle-group.acc {
    margin-left: 80px;
}

mat-button-toggle-group.order {
    margin-left: 35px;
}

mat-button-toggle-group.report {
    margin-left: 90px;
}

mat-button-toggle-group.lang {
    margin-left: 106px;
}
p {
    margin-top: 40px;
    margin-bottom: 1rem;
    margin-left: 20px;
}

::ng-deep .mat-button-toggle-label-content {
    color: black;
}
@media screen and (max-length: 660px) {
    
}