<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a href="#"class="navbar-brand">Myanmar Online POS</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="nav navbar-nav ml-auto mr-5">
        <li class="nav-item">
          <a class="navbar-brand"><img src="assets/loginUI.png" class="navimg" alt="Language"></a>
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-brand"><img src="assets/language.png" class="navimg" alt="Login-userface"></a>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown-target" href="#">Language</a>
            <span class="caret"></span>
            <div class="dropdown-menu" aria-labelledby="dropdown-target">
              <a href="#" class="dropdown-item">Myanmar</a>
              <a href="#" class="dropdown-item">English</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="text col-md-4 offset-4">
      <span class="text1">MINGALAR PAR</span>
      <span class="text2">Sell or Buy with MYANMAR ONLINE POS</span>
      <span class="text3">We will help you build and grow your Business.</span>
      <span class="text4">Build your Business</span>
      <span class="text5">You've got the will. You've got the way.</span>
      <button class="business">Start Your Business</button>
    </div>
  </div>

  <div class="container">
  <slideshow [height]="'400px'"
           [minHeight]="'200px'"
           [autoPlay]="true"
           [showArrows]="false"
           [imageUrls]="imageUrl"
           [lazyLoad]="imageSources?.length > 1"
           [autoPlayWaitForLazyLoad]="true"
           [fullscreen]="false">
</slideshow>
</div>

  <div class="text-row row" >
    <div class="col-md-5 offset-4">
      <span class="text1">With you from first scale from full scale</span>
      <span class="text2">One platform with the ecommerce and point of sale features you need to start,run and grow your business</span>
    </div>
  </div>

  <div class="row container-fluid">
    <div class="imagex row mt-5 mx-5">
      <div class="col-md-5 offset-1">
        <img class="image1 text-center" src="assets/postext1.png">
      </div>
      <div class="imgdiv col-md-5 ml-5">
          <img class="image2 text-center" src="assets/shop1.jpg">
        </div>
    </div>

    <div class="imagex row mt-5 mx-5">
      <div class="col-md-5 offset-1">
        <img class="image1 text-center" src="assets/shop4.jpg">
      </div>
      <div class=" imgdiv col-md-5 ml-5">
          <img class="image2 text-center" src="assets/postext2.png">
        </div>
    </div>

    <div class="imagex row mt-5 mx-5">
        <div class="col-md-5 offset-1">
          <img class="image1 text-center" src="assets/postext3.png">
        </div>
        <div class="imgdiv col-md-5 ml-5 mb-5">
            <img class="image2 text-center" src="assets/shop5.jpg">
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-12">
          <footer class="footer-left bg-primary" style="width:100%">
            <div class="row pl-5 pt-5 pb-3">
              <div class="col-sm-3">
                <h5 class="text-center ml-4">ABOUT</h5>
                <ul class="about text-center">
                  <li>Sell Online </li>
                  <li>Product </li>
                  <li>Dashboard </li>
                  <li>Order </li>
                </ul>
              </div>

              <div class="col-sm-3">
                  <h5 class="text-center ml-4">FEATURE</h5>
                  <ul class="feature text-center">
                    <li>Sell Online </li>
                    <li>Product </li>
                    <li>Dashboard </li>
                    <li>Order </li>
                  </ul>
                </div>
        
                <div class="col-sm-3">
                    <h5 class="text-center ml-4">HOME</h5>
                    <ul class="home text-center">
                      <li>Sell Online </li>
                      <li>Product </li>
                      <li>Dashboard </li>
                      <li>Order </li>
                    </ul>
                </div>
              </div>
              <hr>

                  <div class="row">
                    <div class="col-sm-4 ml-5">
                      Company Myanmar Online POS
                    </div>

                    <div class="footer-text1 col-sm-5">
                      <div class="text-center text-md-left">
                        <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">
                            <img src="assets/facebook.png" alt="Face1" class="src" style="width:40px;height:40px;">
                          </li>
                          <li class="list-inline-item">
                            <img src="assets/gmail.png" alt="Face5" class="src" style="width:40px;height:40px;">
                          </li>
                          <li class="list-inline-item">
                              <img src="assets/viber.png" alt="Face5" class="src" style="width:40px;height:40px;">
                          </li>
                          <li class="list-inline-item">
                              <img src="assets/twitter.png" alt="Face5" class="src" style="width:40px;height:40px;">
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="text-center text-md-left">
                          <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                              <a>Terms of service</a>
                            </li>
                            <li class="list-inline-item">
                              <a>Privacy Policy</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
            </footer>
          </div>
        </div>
    </div>
  
</body>
</html>