
<form [formGroup]="profileForm" (submit)= "onSubmit(profileForm.value)">
      <div class="mainprofile">
        <div class="maindetail">
          <div class="detail">
            <div class="subdetail">
              <div class="subdetail1">
              <mat-form-field class="subsubdetail">
                <input matInput formControlName="name" placeholder="Name:">
              </mat-form-field>

              <mat-form-field class="subsubdetail">
                <input matInput formControlName="shopName" placeholder="Shop Name:">
              </mat-form-field> 

              <mat-form-field class="subsubdetail">
                <input matInput formControlName="shopName"placeholder="Address:">
              </mat-form-field>
           
              <mat-form-field class="subsubdetail">
                <input matInput formControlName="city" placeholder="City:">
              </mat-form-field>
            
              <mat-form-field class="subsubdetail">
                <input matInput formControlName="email" placeholder="Email:">
              </mat-form-field> 
            
              <mat-form-field class="subsubdetail">
                <input matInput formControlName="ph" placeholder="Phone-No:">
              </mat-form-field>
            </div>

          <div class="shopimg">
            <div class="subimg">
                <img [src]= "imgSrc" (click)= "imageInput.click()">
            </div>
            <div class="btn">
              <label class="subbtn1 form-control image-upload-container">
                  <span>Upload</span>
                  <input type="file"  #imageInput accept="image/*" formControlName="imgUrl" (change)="processFile($event)" name="change">
              </label>

              <a (click)="logout()" class="subbtn2 form-control">Logout?</a>
            </div>
          </div>

        </div>
        </div>

       
            <div>
              <a (click)="changePassword()">Do you want to change your password?</a>
            </div>
  
              
              <div class="pwd">
                <div class="subpwd" *ngIf="changepwd">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Current Password:">
                      </mat-form-field>
                  
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Password:">
                      </mat-form-field>
                    
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Retype Password:">
                      </mat-form-field>
                </div>
                
                <div class="pwdbtn">
                  <button class="pwdbtn1 form-control">Cancel</button>
                  <button class="pwdbtn2 form-control">Save</button>
                </div>
            </div>
        </div> 
      </div>    
      
    </form>  
