<mat-card class="main">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="all">
          <!-- For header -->
          <div class="header">
              <h3>Add a new Product</h3>
          </div>
        
          <div class="body form-group">
            <div class="pbody">
                <div class="ppbody">
                    <mat-form-field>
                        <input matInput placeholder="Product Name:" formControlName="productName">
                        <mat-error *ngIf="!productForm.get('productName').valid && productForm.get('productName').touched" class="help-block">
                          {{productNameError}}</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" id="category_name">
                          <mat-option *ngFor="let category of categories" [value]="category.category_id">
                            {{category.category_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!productForm.get('category').valid && productForm.get('category').touched" class="help-block">{{categoryError}}</mat-error>
                      </mat-form-field>
 
                      <mat-form-field>
                        <mat-label>Tag</mat-label>
                        <mat-select formControlName="tag" id="tag_name">
                          <mat-option *ngFor="let tag of tags" [value]="tag.tag_id">
                            {{tag.tag_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field>
                        <input matInput placeholder="Price per cost" formControlName="cost">
                        <mat-error *ngIf="!productForm.get('cost').valid && productForm.get('cost').touched" class="help-block">
                          {{costError}}</mat-error>
                      </mat-form-field>
                      
                      <mat-form-field>
                        <input matInput placeholder="Sale price" formControlName="sale">
                        <mat-error *ngIf="!productForm.get('sale').valid && productForm.get('sale').touched" class="help-block">
                          {{saleError}}</mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="pimg form-group">
              <div class="subimg img-preview-container">
                <img [src]= "imgSrc" (click)= "imageInput.click()">
              </div>
              <div class="btn">
                <label class="subbtn1 form-control image-upload-container">
                  <span>Upload</span>
                  <input type="file"  #imageInput accept="image/*" formControlName="imageurl" (change)="processFile($event)" name="change">
                </label>
              </div>
            </div>
          </div>
        
          <!-- For Button -->
          <div class="btn form-group">
            <div class="subbtn">
              <button type="reset" [routerLink]="['dashboard/allproducts']" class="cancel btn btn-primary mat-raised-button">Cancel</button>
              <button class="save btn btn-primary mat-raised-button" [disabled]="!enableSave">Save</button>
            </div>
          </div>
        </div>
  </form>
  
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="small">
          <!-- For header -->
          <div class="header2">
              <h3>Add a new Product</h3>
          </div>
        
          <div class="body2 form-group">
            <div class="pimg2">
              <div class="subimg img-preview-container">
                <img [src]= "imgSrc" (click)= "imageInput.click()">
              </div>
              <div class="btn">
                <label class="subbtn1 form-control image-upload-container">
                  <span>Upload</span>
                  <input type="file"  #imageInput accept="image/*" formControlName="imageurl" (change)="processFile($event)" name="change">
                </label>
              </div>
            </div>

            <div class="pbody2 form-group">
                <div class="ppbody2">
                    
                  <mat-form-field>
                    <input matInput placeholder="Product Name:" formControlName="productName">
                    <mat-error *ngIf="!productForm.get('productName').valid && productForm.get('productName').touched" class="help-block">
                      {{productNameError}}</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" id="category_name">
                      <mat-option *ngFor="let category of categories" [value]="category.category_id">
                        {{category.category_name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!productForm.get('category').valid && productForm.get('category').touched" class="help-block">{{categoryError}}</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Tag</mat-label>
                    <mat-select formControlName="tag" id="tag_name">
                      <mat-option *ngFor="let tag of tags" [value]="tag.tag_id">
                        {{tag.tag_name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!productForm.get('tag').valid && productForm.get('tag').touched" class="help-block">{{tagError}}</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Price per cost" formControlName="cost">
                    <mat-error *ngIf="!productForm.get('cost').valid && productForm.get('cost').touched" class="help-block">
                      {{costError}}</mat-error>
                  </mat-form-field>
                  
                  <mat-form-field>
                    <input matInput placeholder="Sale price" formControlName="sale">
                    <mat-error *ngIf="!productForm.get('sale').valid && productForm.get('sale').touched" class="help-block">
                      {{saleError}}</mat-error>
                  </mat-form-field>

                </div>
            </div>
          </div>
        
          <!-- For Button -->
          <div class="btn2 form-group">
            <div class="subbtn2">
              <button class="cancelbtn btn btn-primary mat-raised-button" type="reset">Cancel</button>
              <button class="savebtn btn btn-primary mat-raised-button" [disabled]="!enableSave">Save</button>
            </div>
          </div>
        </div>
  </form>
</mat-card>
